body {
  color: #000;
  font-family: verdana;
  font-size: .8em;
}
#sliders{
  padding: 20px;
  color: #000;
  margin: 5px;
  margin-left: 50px;
  font-family: verdana;
  width: 90%
}

#encoders{
  display: none;
  padding: 20px;
  color: #000;
  margin: 5px;
  font-family: verdana;
}

button{
  padding:10px;
}

.info{
  display: none;
}

.cont{
  width: 90%
}
