body {
  color: #000;
}
#sliders{
  padding: 20px;
  color: #000;
  margin: 5px;
  font-family: verdana;
}

#encoders{
  display: none;
  padding: 20px;
  color: #000;
  margin: 5px;
  font-family: verdana;
}

button{
  padding:10px;
}
